<main>
  <div class="container">
    <h1>Last articles</h1>
    <div class="card-container">
      <div class="card" *ngFor="let blog of blogPosts">
        <img class="card-img-top" [src]="blog.fields.previewImage.fields.file.url" alt="blog image" srcset="">
        <div class="card-body">
          <h5 class="card-title y4-ellipsis">{{ blog.fields.author.fields.name }}</h5>
          <p class="card-text y4-ellipsis">{{ blog.fields.title }}</p>
        </div>
      </div>
    </div>
    <div class="load-more-btn">
      <button class="btn btn-primary" (click)="loadMore()">Loading more</button>
    </div>
  </div>
</main>